@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
  color: rgb(0, 110, 255);
}



*{
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}


::-webkit-scrollbar{
  display: none;
}

@keyframes bounce{
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); } 
  40% { transform: translateY(-30px); } 
  60% { transform: translateY(-15px);}
} 

.animate-bounce{
  animation: bounce 4s;
}


body {
  background-color: #FAF5EE;
  color: #1D503A;
}
.footer {
  @apply flex flex-col justify-start sm:justify-between bg-primary-dark text-secondary-dark px-[10px] md:px-[20px] pb-[25px] sm:pb-[35px] sm:pt-[55px];
  & section{
    @apply hover:text-secondary-dark flex flex-wrap sm:justify-around justify-start  gap-[20px] ;
    & p{
      padding-left: 3px;
      @apply cursor-pointer text-[0.85rem]  hover:text-[0.86rem] transition-all transform duration-300;
    }
    & h5{
      @apply font-semibold text-[1rem] capitalize cursor-pointer hover:text-[1.01rem] transition-all transform duration-300 max-w-[200px] text-nowrap;
    }
  }
}
.aboutUs{

}